@model AdwardSoft.Web.Inside.Models.UserResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Khôi phục mật khẩu</title>
    <environment>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arimo" />
        <link href="~/admin/global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" />
        <link href="~/admin/global_assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
        <link href="~/admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="~/admin/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
        <link href="~/admin/assets/css/layout.min.css" rel="stylesheet" type="text/css">
        <link href="~/admin/assets/css/components.min.css" rel="stylesheet" type="text/css">
        <link href="~/admin/assets/css/colors.min.css" rel="stylesheet" type="text/css">
        <link href="~/admin/assets/css/style.css" rel="stylesheet" />
        <!-- /global stylesheets -->
        <!-- Core JS files -->
        <script src="~/admin/global_assets/js/main/jquery.min.js"></script>
        <script src="~/admin/global_assets/js/main/bootstrap.bundle.min.js"></script>
        <script src="~/admin/global_assets/js/plugins/loaders/blockui.min.js"></script>
        <!-- /core JS files -->
        <!-- Theme JS files -->
        <script src="~/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
        <script src="~/admin/assets/js/app.js"></script>
        <script src="~/admin/global_assets/js/demo_pages/login.js"></script>
    </environment>
</head>
<body class="bg-slate-custom">
    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">

                <!-- Reset password card -->
                <form id="fResetPass" class="login-form" asp-controller="User" asp-action="ResetPassword" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                                <h5 class="mb-0">Quên mật khẩu</h5>
                            </div>
                            @Html.HiddenFor(m => m.Id)
                            @Html.HiddenFor(m => m.Code)
                            <div class="form-group form-group-feedback form-group-feedback-left">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu mới" })
                                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "validation-invalid-label" })
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>

                            <div class="form-group form-group-feedback form-group-feedback-left">
                                @Html.PasswordFor(m => m.RepeatPassword, new { @class = "form-control", @placeholder = "Xác nhận mật khẩu mới" })
                                @Html.ValidationMessageFor(m => m.RepeatPassword, null, new { @class = "validation-invalid-label" })
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                            </div>
                            @Html.ValidationMessage("MsgError", new { @class = "validation-invalid-label" });
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-maven btn-block">Gửi <i class="icon-circle-right2 ml-2"></i></button>
                            </div>

                        </div>
                    </div>
                </form>
                <!-- /login card -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
</body>
</html>
