@model AdwardSoft.Web.Inside.Models.UserUpdatePasswordViewModel
@{
    ViewData["Title"] = "_ChangePasswordForm";
}

<form class="form-validate-jquery" asp-action="UpdatePassword" id="fUser" asp-controller="Home" method="post">
    <div class="card-header">
        <h5 class="card-title">Đổi mật khẩu </h5>
    </div>
    <div class="card-body">
        <div class="row">
            <input hidden asp-for="@Model.Id" type="text" class="form-control" required>

            <div class="clear-fix col-12" style="display:none">
                <label class="clear-fix font-weight-semibold">Tên tài khoản </label>
                <input readonly asp-for="@Model.Username" type="text" class="form-control">
                <span asp-validation-for="@Model.Username" class="validation-invalid-label"></span>
            </div>
            <div class="clear-fix col-12">
                <label class="clear-fix font-weight-semibold">Email</label>
                <input readonly asp-for="@Model.Email" style="resize:unset" type="text" class="form-control" rows="4" required />
                <span asp-validation-for="@Model.Email" class="validation-invalid-label"></span>
            </div>
            <div class="clear-fix col-12">
                <label class="clear-fix font-weight-semibold">Họ và tên</label>
                <input readonly asp-for="@Model.FullName" style="resize:unset" type="text" class="form-control" rows="4" required />
                <span asp-validation-for="@Model.FullName" class="validation-invalid-label"></span>
            </div>
            <div class="col-md-12 clear-fix">
                <label class="clear-fix font-weight-semibold">Mật khẩu cũ</label>
                <input asp-for="@Model.OldPassword" style="resize:unset" type="password" class="form-control" rows="4" required />
                <span asp-validation-for="@Model.OldPassword" class="validation-invalid-label"></span>
            </div>
            <div class="clear-fix col-12">
                <label class="clear-fix font-weight-semibold">Mật khẩu mới</label>
                <input asp-for="@Model.NewPassword" style="resize:unset" type="password" class="form-control" rows="4" required />
                <span asp-validation-for="@Model.NewPassword" class="validation-invalid-label"></span>
            </div>
            <div class="clear-fix col-12">
                <label class="clear-fix font-weight-semibold">Xác nhận mật khẩu mới</label>
                <input asp-for="@Model.RepeatPassword" id="RePassword" style="resize:unset" type="password" class="form-control" rows="4" required />
                <span asp-validation-for="@Model.RepeatPassword" class="validation-invalid-label"></span>
            </div>
        </div>
        <div class="d-flex justify-content-end align-items-center">



            @*<a href="#" class="btn btn-danger ml-1 btn-sm text-capitalize" data-dismiss="modal" aria-label="Close">Hủy bỏ <i class="icon-cross2 mr-1"></i></a>
                <button onclick="checkImage()" type="button" class="btn btn-success ml-1 btn-sm" style="margin-right:0">Thêm mới <i class="icon-checkmark ml-1"></i></button>*@
            <a href="#" class="btn btn-light ml-1 btn-sm text-capitalize" data-dismiss="modal" aria-label="Close">Hủy bỏ <i class="icon-cross2 mr-1"></i></a>
            <button hidden type="submit" id="submitFormUser" class="btn btn-success ml-1 btn-sm submitFormUser">Cập nhật <i class="icon-checkmark ml-1"></i></button>
            <button type="button" onclick="checkValidate();" class="btn btn-success ml-1 btn-maven btn-sm submitFormUser">Cập nhật<i class="fa fa-check ml-1"></i></button>


            @*<a href="#" class="btn btn-danger ml-1 btn-sm text-capitalize" data-dismiss="modal" aria-label="Close">Hủy bỏ <i class="icon-cross2 mr-1"></i></a>
                <button type="button" onclick="checkImage()" class="btn btn-success ml-1 btn-sm " style="margin-right:0">Cập nhật <i class="icon-checkmark ml-1"></i></button>*@

        </div>
    </div>
</form>
<script>
    $(function () {
        //var rebindValidation = function () {
        //    $('form').each(function (i, f) {
        //        $form = $(f);
        //        $form.removeData('validator');
        //        $form.removeData('unobtrusiveValidation');
        //        $.validator.unobtrusive.parse($form);
        //    });
        //    $('.select').select2({
        //        minimumResultsForSearch: Infinity
        //    });
        //    $('.select-search').select2();
        //    $('.form-check-input-switch').bootstrapSwitch();
        //};
        //$(document).ready(function () {
        //    setTimeout(500, rebindValidation);
        //})

        $("#fUser").validate({
            rules: {
                Username: { required: true, minlength: 3 },
                Phone: { required: false },
                FullName: { required: true },
                OldPassword: { required: true, minlength: 8 },
                NewPassword: { required: true, minlength: 8 },
                RepeatPassword: { required: true, equalTo: "#NewPassword", minlength: 8 },
                Email: {
                    required: true
                }
            },
            messages: {
                Username: {
                    required: "Phải nhập", minlength: "Tối thiểu 3 kí tự"
                },
                FullName: {
                    required: "Phải nhập"
                },
                OldPassword: {
                    required: "Không được để trống", minlength: "Tối thiểu 8 kí tự"
                },
                NewPassword: {
                    required: "Không được để trống", minlength: "Tối thiểu 8 kí tự"
                },
                RepeatPassword: {
                    required: "Không được để trống",
                    equalTo: "Nhập lại mật khẩu không đúng!!",
                    minlength: "Tối thiểu 3 kí tự"
                },


            }
        });
    });


    function checkValidate() {
        if ($("#fUser").valid()) {
            $("#submitFormUser").click();
        }
    };
</script>


